.editing-mode {
  .grid {
    border: 10px solid #cccc;
    margin: 10px;
  }
  .griditem {
    border: 10px solid #cccc;
    margin: 10px;
  }
  .hstack {
    border: 10px solid #cccc;
    margin: 10px;
  }
  .vstack {
    border: 10px solid #cccc;
    margin: 10px;
  }
  .chakra-container {
    border: 10px solid #cccc;
    margin: 10px;
  }
}
